### Read the Given data

In [1]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

# Connect to PostgreSQL database
conn = psycopg2.connect(
    dbname="telecom",  # Database name
    user="postgres",  # Username
    password="12345",  # Your PostgreSQL password
    host="localhost"  # Database server
)

# Query to fetch all xDR records
query = "SELECT * FROM xdr_data;"  # Adjust the table name as needed

# Load the data into a pandas DataFrame
df = pd.read_sql(query, conn)

# Close the database connection
conn.close()

# Display first few rows of the dataset to understand its structure
print(df.head())

C:\Users\Hp\AppData\Local\Temp\ipykernel_16380\2685453831.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]

In [2]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

In [3]:
df.columns

Index(['Bearer Id', 'Start', 'Start ms', 'End', 'End ms', 'Dur. (ms)', 'IMSI',
       'MSISDN/Number', 'IMEI', 'Last Location Name', 'Avg RTT DL (ms)',
       'Avg RTT UL (ms)', 'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)',
       'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
       'DL TP < 50 Kbps (%)', '50 Kbps < DL TP < 250 Kbps (%)',
       '250 Kbps < DL TP < 1 Mbps (%)', 'DL TP > 1 Mbps (%)',
       'UL TP < 10 Kbps (%)', '10 Kbps < UL TP < 50 Kbps (%)',
       '50 Kbps < UL TP < 300 Kbps (%)', 'UL TP > 300 Kbps (%)',
       'HTTP DL (Bytes)', 'HTTP UL (Bytes)', 'Activity Duration DL (ms)',
       'Activity Duration UL (ms)', 'Dur. (ms).1', 'Handset Manufacturer',
       'Handset Type', 'Nb of sec with 125000B < Vol DL',
       'Nb of sec with 1250B < Vol UL < 6250B',
       'Nb of sec with 31250B < Vol DL < 125000B',
       'Nb of sec with 37500B < Vol UL',
       'Nb of sec with 6250B < Vol DL < 31250B',
       'Nb of sec with 6250B < Vol UL < 37500B',
       'Nb of sec with Vol DL < 6250B', 'Nb of sec with Vol UL < 1250B',
       'Social Media DL (Bytes)', 'Social Media UL (Bytes)',
       'Google DL (Bytes)', 'Google UL (Bytes)', 'Email DL (Bytes)',
       'Email UL (Bytes)', 'Youtube DL (Bytes)', 'Youtube UL (Bytes)',
       'Netflix DL (Bytes)', 'Netflix UL (Bytes)', 'Gaming DL (Bytes)',
       'Gaming UL (Bytes)', 'Other DL (Bytes)', 'Other UL (Bytes)',
       'Total UL (Bytes)', 'Total DL (Bytes)'],
      dtype='object')

In [4]:
import sys
sys.path.append('../scripts')
from preprocess import fill_missing_values, aggregate_data, rename_columns, get_top_n_values, get_bottom_n_values, get_most_frequent_value

# Fill missing values
columns_to_fill = [
    'TCP DL Retrans. Vol (Bytes)', 'TCP UL Retrans. Vol (Bytes)',
    'Avg RTT DL (ms)', 'Avg RTT UL (ms)',
    'Avg Bearer TP DL (kbps)', 'Avg Bearer TP UL (kbps)'
]

for column in columns_to_fill:
    fill_missing_values(df, column)

# Aggregate per customer
agg_columns = {
    'TCP DL Retrans. Vol (Bytes)': 'mean',
    'TCP UL Retrans. Vol (Bytes)': 'mean',
    'Avg RTT DL (ms)': 'mean',
    'Avg RTT UL (ms)': 'mean',
    'Avg Bearer TP DL (kbps)': 'mean',
    'Avg Bearer TP UL (kbps)': 'mean',
    'Handset Type': 'first'
}

agg_data = aggregate_data(df, 'MSISDN/Number', agg_columns)

# Rename columns for clarity
new_column_names = [
    'MSISDN/Number', 'Avg TCP DL Retransmission', 'Avg TCP UL Retransmission',
    'Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Avg Throughput DL (kbps)',
    'Avg Throughput UL (kbps)', 'Handset Type'
]

rename_columns(agg_data, new_column_names)

# Print the aggregated data
print(agg_data.head())

   MSISDN/Number  Avg TCP DL Retransmission  Avg TCP UL Retransmission  \
0   3.360100e+10               2.080991e+07              759658.664811
1   3.360100e+10               2.080991e+07              759658.664811
2   3.360100e+10               2.080991e+07              759658.664811
3   3.360101e+10               1.066000e+03              759658.664811
4   3.360101e+10               1.507977e+07              390430.332406

   Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Throughput DL (kbps)  \
0        46.000000         0.000000                      37.0
1        30.000000         1.000000                      48.0
2       109.795706        17.662883                      48.0
3        69.000000        15.000000                     204.0
4        57.000000         2.500000                   20197.5

   Avg Throughput UL (kbps)                    Handset Type
0                      39.0  Huawei P20 Lite Huawei Nova 3E
1                      51.0          Apple iPhone 7 (A1778)
2                      49.0                       undefined
3                      44.0         Apple iPhone 5S (A1457)
4                    8224.5         Apple iPhone Se (A1723)

c:\Users\Hp\Downloads\Teleco_data_analysis-main\notebooks\../scripts\preprocess.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column_name].fillna(df[column_name].mean(), inplace=True)

### Handle missing values and aggregate per customer

In [5]:
# Task 3.1 - 
# Fill missing values with the mean for TCP Retransmission, RTT, and Throughput
df['TCP DL Retrans. Vol (Bytes)'].fillna(df['TCP DL Retrans. Vol (Bytes)'].mean(), inplace=True)
df['TCP UL Retrans. Vol (Bytes)'].fillna(df['TCP UL Retrans. Vol (Bytes)'].mean(), inplace=True)
df['Avg RTT DL (ms)'].fillna(df['Avg RTT DL (ms)'].mean(), inplace=True)
df['Avg RTT UL (ms)'].fillna(df['Avg RTT UL (ms)'].mean(), inplace=True)
df['Avg Bearer TP DL (kbps)'].fillna(df['Avg Bearer TP DL (kbps)'].mean(), inplace=True)
df['Avg Bearer TP UL (kbps)'].fillna(df['Avg Bearer TP UL (kbps)'].mean(), inplace=True)

# Aggregate per customer
agg_data = df.groupby('MSISDN/Number').agg({
    'TCP DL Retrans. Vol (Bytes)': 'mean',
    'TCP UL Retrans. Vol (Bytes)': 'mean',
    'Avg RTT DL (ms)': 'mean',
    'Avg RTT UL (ms)': 'mean',
    'Avg Bearer TP DL (kbps)': 'mean',
    'Avg Bearer TP UL (kbps)': 'mean',
    'Handset Type': 'first'
}).reset_index()

# Rename columns for clarity
agg_data.columns = ['MSISDN/Number', 'Avg TCP DL Retransmission', 'Avg TCP UL Retransmission', 
                    'Avg RTT DL (ms)', 'Avg RTT UL (ms)', 'Avg Throughput DL (kbps)', 
                    'Avg Throughput UL (kbps)', 'Handset Type']

print(agg_data.head())

   MSISDN/Number  Avg TCP DL Retransmission  Avg TCP UL Retransmission  \
0   3.360100e+10               2.080991e+07              759658.664811
1   3.360100e+10               2.080991e+07              759658.664811
2   3.360100e+10               2.080991e+07              759658.664811
3   3.360101e+10               1.066000e+03              759658.664811
4   3.360101e+10               1.507977e+07              390430.332406

   Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Throughput DL (kbps)  \
0        46.000000         0.000000                      37.0
1        30.000000         1.000000                      48.0
2       109.795706        17.662883                      48.0
3        69.000000        15.000000                     204.0
4        57.000000         2.500000                   20197.5

   Avg Throughput UL (kbps)                    Handset Type
0                      39.0  Huawei P20 Lite Huawei Nova 3E
1                      51.0          Apple iPhone 7 (A1778)
2                      49.0                       undefined
3                      44.0         Apple iPhone 5S (A1457)
4                    8224.5         Apple iPhone Se (A1723)

C:\Users\Hp\AppData\Local\Temp\ipykernel_16380\1835480915.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TCP DL Retrans. Vol (Bytes)'].fillna(df['TCP DL Retrans. Vol (Bytes)'].mean(), inplace=True)
C:\Users\Hp\AppData\Local\Temp\ipykernel_16380\1835480915.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['TCP UL Retrans. Vol (Bytes)'].fillna(df['TCP UL Retrans. Vol (Bytes)'].mean(), inplace=True)
C:\Users\Hp\AppData\Local\Temp\ipykernel_16380\1835480915.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Avg RTT DL (ms)'].fillna(df['Avg RTT DL (ms)'].mean(), inplace=True)
C:\Users\Hp\AppData\Local\Temp\ipykernel_16380\1835480915.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Avg RTT UL (ms)'].fillna(df['Avg RTT UL (ms)'].mean(), inplace=True)
C:\Users\Hp\AppData\Local\Temp\ipykernel_16380\1835480915.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Avg Bearer TP DL (kbps)'].fillna(df['Avg Bearer TP DL (kbps)'].mean(), inplace=True)
C:\Users\Hp\AppData\Local\Temp\ipykernel_16380\1835480915.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Avg Bearer TP UL (kbps)'].fillna(df['Avg Bearer TP UL (kbps)'].mean(), inplace=True)

### Compute & list top, bottom, and most frequent TCP, RTT, and Throughput values

In [6]:
# Top 10, Bottom 10, and Most Frequent TCP DL Retransmission
top_tcp_dl = get_top_n_values(agg_data, 'Avg TCP DL Retransmission', 10)
bottom_tcp_dl = get_bottom_n_values(agg_data, 'Avg TCP DL Retransmission', 10)
most_frequent_tcp_dl = get_most_frequent_value(agg_data, 'Avg TCP DL Retransmission')

# Top 10, Bottom 10, and Most Frequent TCP UL Retransmission
top_tcp_ul = get_top_n_values(agg_data, 'Avg TCP UL Retransmission', 10)
bottom_tcp_ul = get_bottom_n_values(agg_data, 'Avg TCP UL Retransmission', 10)
most_frequent_tcp_ul = get_most_frequent_value(agg_data, 'Avg TCP UL Retransmission')

# Print results
print("Top 10 TCP DL Retransmissions:\n", top_tcp_dl)
print("Bottom 10 TCP DL Retransmissions:\n", bottom_tcp_dl)
print("Most Frequent TCP DL Retransmissions:\n", most_frequent_tcp_dl)

print("Top 10 TCP UL Retransmissions:\n", top_tcp_ul)
print("Bottom 10 TCP UL Retransmissions:\n", bottom_tcp_ul)
print("Most Frequent TCP UL Retransmissions:\n", most_frequent_tcp_ul)

Top 10 TCP DL Retransmissions:
        MSISDN/Number  Avg TCP DL Retransmission  Avg TCP UL Retransmission  \
85785   3.369858e+10               4.289488e+09                 11989838.0
32273   3.365871e+10               4.288060e+09                    60496.0
58026   3.366491e+10               4.268432e+09                   215354.0
31942   3.365863e+10               4.254644e+09                    15816.0
62049   3.366613e+10               4.211189e+09                    68802.0
70079   3.366877e+10               4.166591e+09                     3989.0
43629   3.366131e+10               4.131046e+09                  6891979.0
48341   3.366240e+10               4.117753e+09                    51555.0
64113   3.366682e+10               3.968072e+09                    48174.0
98211   3.376264e+10               3.785295e+09                  1576179.0

       Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Throughput DL (kbps)  \
85785            244.0            242.0                   26456.0
32273             62.0             19.0                   80994.0
58026            305.0            148.0                   52901.0
31942             61.0             27.0                   87516.0
62049            178.0             30.0                   57104.0
70079            149.0             23.0                   70272.0
43629             35.0             46.0                   94139.0
48341             42.0             22.0                   61286.0
64113             93.0             64.0                   35609.0
98211             50.0             18.0                   45244.0

       Avg Throughput UL (kbps)      Handset Type
85785                    5310.0  Huawei B528S-23A
32273                   13188.0  Huawei B528S-23A
58026                    2308.0  Huawei B528S-23A
31942                   29617.0  Huawei B528S-23A
62049                    2496.0  Huawei B528S-23A
70079                    2000.0  Huawei B528S-23A
43629                   10864.0  Huawei B528S-23A
48341                    6392.0  Huawei B528S-23A
64113                    3710.0  Huawei B528S-23A
98211                   15043.0  Huawei B528S-23A
Bottom 10 TCP DL Retransmissions:
         MSISDN/Number  Avg TCP DL Retransmission  Avg TCP UL Retransmission  \
56622    3.366454e+10                        2.0               21557.000000
95322    3.376154e+10                        2.0              759658.664811
71705    3.366931e+10                        4.0              759658.664811
71778    3.366933e+10                        4.0                5296.000000
87156    3.369900e+10                        4.0              759658.664811
87348    3.369906e+10                        4.0              759658.664811
95213    3.376151e+10                        4.0              759658.664811
95331    3.376154e+10                        4.0                1318.000000
95774    3.376162e+10                        4.0              759658.664811
100616   3.376394e+10                        4.0               95464.000000

        Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Throughput DL (kbps)  \
56622             437.0              4.0                      12.0
95322              28.0              4.0                      12.0
71705              32.0             11.0                      16.0
71778              35.0              2.0                      13.0
87156             545.0              2.0                       7.0
87348              37.0              8.0                      16.0
95213              40.0              4.0                      11.0
95331              63.0              1.0                       6.0
95774              47.0              7.0                       9.0
100616             28.0             18.0                      11.0

        Avg Throughput UL (kbps) Handset Type
56622                      171.0    Zte Mf259
95322                      191.0    Zte Mf259
71705                      144.0    Zte Mf259
71778                      238.0    Zte Mf259
87156                       55.0    Zte Mf259
87348                      143.0    Zte Mf259
95213                      166.0    Zte Mf259
95331                       60.0    Zte Mf259
95774                      178.0    Zte Mf259
100616                     175.0    Zte Mf259
Most Frequent TCP DL Retransmissions:
 0    2.080991e+07
Name: Avg TCP DL Retransmission, dtype: float64
Top 10 TCP UL Retransmissions:
         MSISDN/Number  Avg TCP DL Retransmission  Avg TCP UL Retransmission  \
100005   3.376359e+10               9.213923e+06               2.455600e+09
57181    3.366470e+10               3.233008e+08               1.751384e+09
58664    3.366509e+10               1.494257e+08               1.727810e+09
70913    3.366905e+10               6.609548e+06               1.292337e+09
45158    3.366168e+10               1.222240e+05               7.948258e+08
85123    3.369838e+10               2.825035e+08               7.195718e+08
69068    3.366845e+10               3.076798e+06               5.262463e+08
55835    3.366431e+10               2.880584e+07               4.590686e+08
38577    3.366009e+10               2.776754e+07               4.518769e+08
30175    3.365825e+10               6.507573e+06               4.395504e+08

        Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Throughput DL (kbps)  \
100005        50.000000        24.000000                  58997.00
57181        312.000000        52.000000                  63163.00
58664         42.000000        39.000000                 144177.00
70913         48.750000        31.500000                  25689.75
45158         32.000000         9.000000                  39624.00
85123        125.000000       167.000000                  42256.00
69068        178.000000       495.000000                  17917.00
55835        261.000000       349.000000                  75147.00
38577         55.000000         7.000000                  26599.00
30175         58.666667        25.166667                  57994.50

        Avg Throughput UL (kbps)            Handset Type
100005               6247.000000        Huawei B528S-23A
57181                6778.000000        Huawei B528S-23A
58664               37662.000000        Huawei B528S-23A
70913                9820.750000        Huawei B528S-23A
45158               13541.000000        Huawei B528S-23A
85123               20965.000000        Huawei B528S-23A
69068               12905.000000        Huawei B528S-23A
55835               40658.000000        Huawei B528S-23A
38577               31411.000000  Apple iPhone X (A1901)
30175                4783.333333        Huawei B528S-23A
Bottom 10 TCP UL Retransmissions:
         MSISDN/Number  Avg TCP DL Retransmission  Avg TCP UL Retransmission  \
20111    3.364280e+10               1.036310e+05                        1.0
67996    3.366809e+10               1.129270e+05                        1.0
104817   3.378259e+10               7.505983e+06                        1.0
18026    3.363527e+10               5.774870e+06                        2.0
37272    3.365978e+10               1.735402e+09                        2.0
89069    3.369960e+10               2.427400e+04                        2.0
2133     3.360775e+10               5.272000e+03                        3.0
4387     3.361166e+10               1.416880e+05                        3.0
5954     3.361415e+10               8.846000e+03                        3.0
14029    3.362713e+10               2.080991e+07                        3.0

        Avg RTT DL (ms)  Avg RTT UL (ms)  Avg Throughput DL (kbps)  \
20111             127.0            125.0                   39577.0
67996              39.0              6.0                   14731.0
104817             57.0             12.0                   73997.0
18026              73.0             21.0                   36513.0
37272              79.0             27.0                   28845.0
89069              43.0              9.0                   17128.0
2133              276.0             13.0                    1220.0
4387               34.0              8.0                   15579.0
5954               93.0              8.0                    1391.0
14029              55.0              2.0                    4444.0

        Avg Throughput UL (kbps)  \
20111                     1393.0
67996                      700.0
104817                    2532.0
18026                      820.0
37272                      826.0
89069                     1870.0
2133                       270.0
4387                       454.0
5954                      1410.0
14029                      401.0

                                             Handset Type
20111                   Xiaomi Communica. Redmi Note6 Pro
67996                         Tp-Link Technolo. Tl-Mr6400
104817                         Spa Condor Elect. Plume L2
18026                        Oneplus Technolo. Oneplus 5T
37272                                        Huawei E5573
89069   Ecom Instruments. Ecom Mobile Safety Smart-Ex 201
2133                         Wiko Global Sasu Wiko Lenny2
4387                             Samsung Galaxy A8 (2018)
5954                         Samsung Galaxy S8 (Sm-G950F)
14029                         Sony Mobile Comm. Xperia Xz
Most Frequent TCP UL Retransmissions:
 0    759658.664811
Name: Avg TCP UL Retransmission, dtype: float64